<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peer Review System</title>
    <link rel="stylesheet" href="../css/faq.css">
  </head>
  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="../welcome_page.html" class="pull-left visible-md visible-lg"></a>
            <div class="navbar-brand"> 
              <a href="../welcome_page.html"><h1> <img src="../images/logo.png" alt="logo"> Peer Review System </h1></a>
              <div id="upNav">
                <a href="sign_in.html"> Sign In <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div id="FAQ">
      <div class="container"> 
        <div class="column">
          <div id="FAQHead">FAQ</div> 
        </div>
      </div>
    </div>    

    <footer id="myNavbar" class="navbar">
      <div class="container">
        <div class="row">
          <section id="footer_item1" class="col-lg-5 col-sm-4"><a href="About.html">About</a></section>
          <section id="footer_item2" class="col-lg-5 col-sm-4"><a href="Terms.html">Terms</a></section>
          <section id="footer_item3" class="col-lg-5 col-sm-4"><a href="Privacy.html">Privacy</a></section>
          <section id="footer_item4" class="col-lg-5 col-sm-6"><a href="Our_Policy.html">Our Policy</a></section>
          <section id="footer_item5" class="col-lg-5 col-sm-6"><a href="Contact_us.html">Contact Us</a></section>
        </div>
      </div><!-- .container -->
    </footer><!-- End of #myNavbar --> 
  </body>
  <script src="script.js"></script>
</html>
