<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peer Review System</title>
    <link rel="stylesheet" href="../css/GroupProfile.css">
  </head>
  <body onload="myFunction()">
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="../welcome_page.html" class="pull-left visible-md visible-lg"></a>
            <div class="navbar-brand"> 
              <a href="../html/DashboardStudent.html"><h1> <img src="../images/logo.png" alt="logo"> Peer Review System </h1></a>
              <div id="upNav">
                  <input type="text" placeholder="Search..">
                  <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button>
                  <a href="faq_log.html">FAQ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>
                  </a>
                  <a href="../welcome_page.html"> Log out <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                      <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id = main-content>
      <div id = "col1">
        <div id="course-info"><h2>2021-2022 Spring Semester </h2><h2>CS 319 Course</h2><h2 id= "Groupname"></h2></div>
        <div id="chats-button">
          <button id= "chats"onclick="window.location.href='Chat.html'"> Chats </button>
        </div>
        <div id="row5">
          <h2>Users Sent Request</h2>
          <ul id=requests>
          </ul>
        </div>
      </div>
      <div id = "col2">
        <div id="info">
          <div id = "descriptionOfGroup">
          </div>
          <div id = "members">
            <ul>
              
            </ul>
          </div>
        </div>
        <div id="uploadedFile">
          <div id="originalDocument">Original Document</div>
          <div id="Description">Description </div>
          <div id= "Date">Date </div>
          <div id= "Rate">Rate </div>
        </div>
        <div id= "reviewFiles">
          <button id = "uploadFile"> Upload File</button><br>
          <a href="test_file.zip" download>Download File</a><br>
          <a href="test_file.zip" download>Download File</a>
        </div>
   
      </div>
      <div id = "col3">
        <div id="row1">
          <button id="sendRequest">Send Request</button>
        </div>
        <div id=row2>
          <div class="inviteMember">
            <input type="text" name="name" class = "name">
            <button class="invite">Invite Student</button>
          </div>
          <div class="inviteMember">
            <input type="text" name="name" class= "name">
            <button class="invite">Delete Member</button>
          </div>
        </div>
       
        <div id=row4>
          <a href="test_file.zip" download>Upload File<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
  <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg></a><br>
          <textarea id = "coments" placeholder="Comment here..." cols="30" rows="5"></textarea>
          <button id="submit">Submit</button>

        </div>      
        <div id="row3">
          <button id="peerReview">Peer Review</button>
        </div>
          <ul>
  
          </ul>
        </div>
      </div>

    </div>

  </body>
  <script src="../js/groupProfile.js"></script>
</html>
