<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peer Review System</title>
    <link rel="stylesheet" href="../css/StudentProfile.css">
  </head>

  <body onload="myFunction()">
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="welcome_page.html" class="pull-left visible-md visible-lg"></a>

            <div class="navbar-brand">
              <a href="DashboardStudent.html"><h1> <img src="../images/logo.png" alt="logo"> Peer Review System </h1></a>
              <div id="upNav">
                  <a href="DashboardStudent.html"> DashBoard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>
                  </a>

              </div><!-- #upNav -->
            </div><!-- .navbr-brand -->
          </div><!-- .navbar-header -->
        </div><!-- .container -->
      </nav><!-- #header-nav -->
    </header>

    <div id="main-content" class="container">
      <div id="row1">
        <div class="container" id = "information">
          <div id = "col1"> <img src="../images/instructor.jpg"></div>
          <div id= "col2"><h1>Information</h1>
            <form>
             <div id="name"></div><br>
              <div id ="surname"></div><br>
              <div id="Email"></div><br> 
              <div id="Course"></div><br>
              <div id="Semester"></div><br>
              <div id="Section"></div><br>
              <div id="Group"></div><br>
             <!-- continuee....... -->
            </form>
          </div>
        </div>
      </div><!-- End of #home-tiles -->

      <div id="row2">
        <div class="container" id= "peerreview">
          <div id = "row2-first">
            <div id="groupList">
              <ul id = "students">

              </ul>
              <ul id = "reviews">

              </ul>
            </div>
          </div>
        </div>
      </div><!-- End of #home-tiles -->

    </div><!-- End of #main-content -->
  </body>

  <script src="../js/profile.js"></script>
</body>
</html>
