<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peer Review System</title>
    <link rel="stylesheet" href="css/welcome_style.css">
  </head>

  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="welcome_page.html" class="pull-left visible-md visible-lg"></a>

            <div class="navbar-brand">
              <a href="welcome_page.html"><h1> <img src="images/logo.png" alt="logo"> Peer Review System </h1></a>
              <div id="upNav">
                  <a href="html/sign_in.html"> Sign In <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>
                  </a>
                  
                  <a href="html/faq.html">FAQ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>
                  </a>
              </div><!-- #upNav -->
            </div><!-- .navbr-brand -->
          </div><!-- .navbar-header -->
        </div><!-- .container -->
      </nav><!-- #header-nav -->
    </header>

    <div id="main-content" class="container">
      <div id= "welcome">Welcome To The Peer Review Web Application</div>
      <div id="middlePart">
        <div class="container">
          <div class="row">
          <section id="right_image" class="col-lg-6"><img src="images/team work.jpg" class="responsive"></section>
          <section id="left_image" class="col-lg-6"><img src="images/statistics.jpg" class="responsive"></section>
        </div>
        </div>
      </div><!-- End of #home-tiles -->
    </div><!-- End of #main-content -->

    <footer id="myNavbar" class="navbar">
      <div class="container">
        <div class="row">
          <section id="footer_item" class="col-lg-5 col-sm-4"><a href="html/About.html">About</a></section>
          <section id="footer_item" class="col-lg-5 col-sm-4"><a href="html/Terms.html">Terms</a></section>
          <section id="footer_item" class="col-lg-5 col-sm-4"><a href="html/Privacy.html">Privacy</a></section>
          <section id="footer_item" class="col-lg-5 col-sm-6"><a href="html/Our_Policy.html">Our Policy</a></section>
          <section id="footer_item" class="col-lg-5 col-sm-6"><a href="html/Contact_us.html">Contact Us</a></section>
        </div>
      </div><!-- .container -->
    </footer><!-- End of #myNavbar -->
  </body>

  <script src="js/script.js"></script>
</body>
</html>
